<html>

<head>
  <style>
    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <div style="width: 85%; margin: 0 7.5%;">
    <div style="text-align: center; padding-left: 50px;">
      <h3>Relatorios</h5>
        <table>
          <% if (chamados.length > 0) { %>
          <% chamados.forEach(chamado => {%>
          <tr>
            <td><%= chamado.numero %></td>
            <td><%= chamado.titulo %></td>
          </tr>
          <%  });%>
          <% }%>
        </table>
    </div>
  </div>
</body>

</html>
